In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')
df1.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [2]:
df2 = pd.read_csv('IPL_Matches_Result_2008_2022.csv')
df2.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [3]:
data = df1.merge(df2,on = 'ID')
data

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [4]:
data = data[['ID', 'Venue', 'Team1', 'Team2', 'WinningTeam', 'innings', 'overs', 'ballnumber', 'total_run', 'isWicketDelivery', 'BattingTeam']]

# Assign correct values to BowlingTeam column
data['BowlingTeam'] = data.apply(lambda row: row['Team2'] if row['BattingTeam'] == row['Team1'] else row['Team1'], axis=1)

# Display the updated DataFrame
data

/tmp/ipykernel_14564/2324754522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['BowlingTeam'] = data.apply(lambda row: row['Team2'] if row['BattingTeam'] == row['Team1'] else row['Team1'], axis=1)

,ID,Venue,Team1,Team2,WinningTeam,innings,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam
0,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,1,0,0,Rajasthan Royals,Gujarat Titans
1,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,2,1,0,Rajasthan Royals,Gujarat Titans
2,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,3,1,0,Rajasthan Royals,Gujarat Titans
3,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,4,0,0,Rajasthan Royals,Gujarat Titans
4,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,5,0,0,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders

In [5]:
data1 = data.groupby(['ID', 'innings']).sum()['total_run']
data1

/tmp/ipykernel_14564/172503546.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data1 = data.groupby(['ID', 'innings']).sum()['total_run']

ID       innings
335982   1          222
         2           82
335983   1          240
         2          207
335984   1          129
                   ...
1312198  2          193
1312199  1          157
         2          161
1312200  1          130
         2          133
Name: total_run, Length: 1928, dtype: int64

In [6]:
data1 = data1.reset_index()
data1

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [7]:
data1 = data1[data1.innings==1]
data1

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [8]:
data1['Target']=data1['total_run']+1
data1.drop(['total_run'], axis='columns', inplace=True)
data1

/tmp/ipykernel_14564/110643394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Target']=data1['total_run']+1
/tmp/ipykernel_14564/110643394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.drop(['total_run'], axis='columns', inplace=True)

           ID  innings  Target
0      335982        1     223
2      335983        1     241
4      335984        1     130
6      335985        1     166
8      335986        1     111
...       ...      ...     ...
1918  1304116        1     158
1920  1312197        1     189
1922  1312198        1     208
1924  1312199        1     158
1926  1312200        1     131

[950 rows x 3 columns]

In [9]:
data= data.merge(data1,on='ID')
data

,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target
0,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,1,0,0,Rajasthan Royals,Gujarat Titans,1,131
1,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,2,1,0,Rajasthan Royals,Gujarat Titans,1,131
2,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,3,1,0,Rajasthan Royals,Gujarat Titans,1,131
3,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,4,0,0,Rajasthan Royals,Gujarat Titans,1,131
4,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,1,0,5,0,0,Rajasthan Royals,Gujarat Titans,1,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223

In [10]:
data = data[(data.innings_x==2)]
data

,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target
120,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,2,0,1,0,0,Gujarat Titans,Rajasthan Royals,1,131
121,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,2,0,2,0,0,Gujarat Titans,Rajasthan Royals,1,131
122,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,2,0,3,1,0,Gujarat Titans,Rajasthan Royals,1,131
123,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,2,0,4,0,0,Gujarat Titans,Rajasthan Royals,1,131
124,1312200,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Gujarat Titans,2,0,5,0,0,Gujarat Titans,Rajasthan Royals,1,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223

In [11]:
data.BattingTeam.unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [12]:
data.BattingTeam = data.BattingTeam.str.replace('Delhi Daredevils', 'Delhi Capitals')
data.BowlingTeam = data.BowlingTeam.str.replace('Delhi Daredevils', 'Delhi Capitals')
data.BattingTeam = data.BattingTeam.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
data.BowlingTeam = data.BowlingTeam.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

/tmp/ipykernel_14564/3596685306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.BattingTeam = data.BattingTeam.str.replace('Delhi Daredevils', 'Delhi Capitals')
/tmp/ipykernel_14564/3596685306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.BowlingTeam = data.BowlingTeam.str.replace('Delhi Daredevils', 'Delhi Capitals')
/tmp/ipykernel_14564/3596685306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.BattingTeam = data.BattingTeam.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
/tmp/ipykernel_14564/3596685306.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.BowlingTeam = data.BowlingTeam.str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

In [13]:
data.drop(data[data.BattingTeam=='Kochi Tuskers Kerala'].index, inplace=True)

/tmp/ipykernel_14564/104319327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Kochi Tuskers Kerala'].index, inplace=True)

In [14]:
data.drop(data[data.BattingTeam=='Pune Warriors'].index, inplace=True)
data.drop(data[data.BattingTeam=='Rising Pune Supergiants'].index, inplace=True)
data.drop(data[data.BattingTeam=='Rising Pune Supergiant'].index, inplace=True)
data.drop(data[data.BattingTeam=='Gujarat Lions'].index, inplace=True)
data.drop(data[data.BattingTeam=='Lucknow Super Giants'].index, inplace=True)
data.drop(data[data.BattingTeam=='Punjab Kings'].index, inplace=True)
data.drop(data[data.BattingTeam=='Gujarat Titans'].index, inplace=True)
batting1 = data.BattingTeam.unique()
batting1

/tmp/ipykernel_14564/3871182890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Pune Warriors'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Rising Pune Supergiants'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Rising Pune Supergiant'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Gujarat Lions'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Lucknow Super Giants'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Punjab Kings'].index, inplace=True)
/tmp/ipykernel_14564/3871182890.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BattingTeam=='Gujarat Titans'].index, inplace=True)

array(['Rajasthan Royals', 'Mumbai Indians',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Kings XI Punjab'], dtype=object)

In [15]:
len(batting1)

8

In [16]:
data.BowlingTeam.unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals',
       'Chennai Super Kings', 'Gujarat Titans', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Punjab Kings',
       'Rajasthan Royals', 'Mumbai Indians', 'Kings XI Punjab',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Kochi Tuskers Kerala'],
      dtype=object)

In [17]:
data.drop(data[data.BowlingTeam=='Kochi Tuskers Kerala'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Pune Warriors'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Rising Pune Supergiants'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Rising Pune Supergiant'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Gujarat Lions'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Lucknow Super Giants'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Punjab Kings'].index, inplace=True)
data.drop(data[data.BowlingTeam=='Gujarat Titans'].index, inplace=True)
bowling1 = data.BowlingTeam.unique()
bowling1

/tmp/ipykernel_14564/2720904269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Kochi Tuskers Kerala'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Pune Warriors'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Rising Pune Supergiants'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Rising Pune Supergiant'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Gujarat Lions'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Lucknow Super Giants'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Punjab Kings'].index, inplace=True)
/tmp/ipykernel_14564/2720904269.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data.BowlingTeam=='Gujarat Titans'].index, inplace=True)

array(['Royal Challengers Bangalore', 'Delhi Capitals',
       'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Kings XI Punjab'], dtype=object)

In [18]:
len(bowling1)

8

In [19]:
data.isna().sum()

ID                   0
Venue                0
Team1                0
Team2                0
WinningTeam         27
innings_x            0
overs                0
ballnumber           0
total_run            0
isWicketDelivery     0
BattingTeam          0
BowlingTeam          0
innings_y            0
Target               0
dtype: int64

In [20]:
data= data.dropna()
data.isna().sum()

ID                  0
Venue               0
Team1               0
Team2               0
WinningTeam         0
innings_x           0
overs               0
ballnumber          0
total_run           0
isWicketDelivery    0
BattingTeam         0
BowlingTeam         0
innings_y           0
Target              0
dtype: int64

In [21]:
data['Ball_Number']=(data['overs'])*6+data['ballnumber']
data

/tmp/ipykernel_14564/4192903876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ball_Number']=(data['overs'])*6+data['ballnumber']

,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target,Ball_Number
360,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,1,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,1
361,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,2,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,2
362,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,3,6,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,3
363,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,4,4,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,4
364,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,89
225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,90
225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91
225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91
225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,92

In [22]:
data_temp=data[['ID','total_run','isWicketDelivery']]
data_temp

             ID  total_run  isWicketDelivery
360     1312199          0                 0
361     1312199          0                 0
362     1312199          6                 0
363     1312199          4                 0
364     1312199          0                 0
...         ...        ...               ...
225949   335982          1                 0
225950   335982          1                 0
225951   335982          0                 0
225952   335982          1                 0
225953   335982          0                 1

[89627 rows x 3 columns]

In [23]:
data_temp.rename(columns={'total_run': 'Runs'}, inplace=True)
data_temp.rename(columns={'isWicketDelivery': 'Wickets'}, inplace=True)

data_temp

/tmp/ipykernel_14564/2946845539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_temp.rename(columns={'total_run': 'Runs'}, inplace=True)
/tmp/ipykernel_14564/2946845539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_temp.rename(columns={'isWicketDelivery': 'Wickets'}, inplace=True)

             ID  Runs  Wickets
360     1312199     0        0
361     1312199     0        0
362     1312199     6        0
363     1312199     4        0
364     1312199     0        0
...         ...   ...      ...
225949   335982     1        0
225950   335982     1        0
225951   335982     0        0
225952   335982     1        0
225953   335982     0        1

[89627 rows x 3 columns]

In [24]:
data_temp = data_temp.groupby('ID').cumsum()
data_temp

        Runs  Wickets
360        0        0
361        0        0
362        6        0
363       10        0
364       10        0
...      ...      ...
225949    80        9
225950    81        9
225951    81        9
225952    82        9
225953    82       10

[89627 rows x 2 columns]

In [25]:
data = data.reset_index()
data

,index,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target,Ball_Number
0,360,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,1,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,1
1,361,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,2,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,2
2,362,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,3,6,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,3
3,363,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,4,4,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,4
4,364,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,89
89623,225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,90
89624,225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91
89625,225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91
89626,225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,92

In [26]:
data_temp = data_temp.reset_index()
data_temp

        index  Runs  Wickets
0         360     0        0
1         361     0        0
2         362     6        0
3         363    10        0
4         364    10        0
...       ...   ...      ...
89622  225949    80        9
89623  225950    81        9
89624  225951    81        9
89625  225952    82        9
89626  225953    82       10

[89627 rows x 3 columns]

In [27]:
data[['Runs','Wickets']]=data_temp[['Runs','Wickets']]
data

,index,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target,Ball_Number,Runs,Wickets
0,360,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,1,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,1,0,0
1,361,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,2,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,2,0,0
2,362,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,3,6,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,3,6,0
3,363,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,4,4,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,4,10,0
4,364,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,5,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,89,80,9
89623,225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,90,81,9
89624,225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,81,9
89625,225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,82,9
89626,225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,92,82,10

In [28]:
data['Balls_Left'] = 120-data['Ball_Number']
data['Runs_Left'] = data['Target'] - data['Runs']
data

,index,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,isWicketDelivery,BattingTeam,BowlingTeam,innings_y,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
0,360,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,1,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,1,0,0,119,158
1,361,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,2,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,2,0,0,118,158
2,362,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,3,6,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,3,6,0,117,152
3,363,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,4,4,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,4,10,0,116,148
4,364,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,5,0,0,Rajasthan Royals,Royal Challengers Bangalore,1,158,5,10,0,115,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,89,80,9,31,143
89623,225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,90,81,9,30,142
89624,225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,81,9,29,142
89625,225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,82,9,29,141
89626,225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,92,82,10,28,141

In [29]:
data['Wickets_Left']=10-data['Wickets']
data

,index,ID,Venue,Team1,Team2,WinningTeam,innings_x,overs,ballnumber,total_run,...,BattingTeam,BowlingTeam,innings_y,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
0,360,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,1,0,...,Rajasthan Royals,Royal Challengers Bangalore,1,158,1,0,0,119,158,10
1,361,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,2,0,...,Rajasthan Royals,Royal Challengers Bangalore,1,158,2,0,0,118,158,10
2,362,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,3,6,...,Rajasthan Royals,Royal Challengers Bangalore,1,158,3,6,0,117,152,10
3,363,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,4,4,...,Rajasthan Royals,Royal Challengers Bangalore,1,158,4,10,0,116,148,10
4,364,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,0,5,0,...,Rajasthan Royals,Royal Challengers Bangalore,1,158,5,10,0,115,148,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,225949,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,5,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,89,80,9,31,143,1
89623,225950,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,6,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,90,81,9,30,142,1
89624,225951,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,14,7,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,81,9,29,142,1
89625,225952,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,1,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,91,82,9,29,141,1
89626,225953,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,15,2,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,92,82,10,28,141,0

In [30]:
data.drop(['index', 'overs', 'ballnumber', 'total_run', 'isWicketDelivery', 'Ball_Number', 'Wickets'], axis='columns', inplace=True)
data

,ID,Venue,Team1,Team2,WinningTeam,innings_x,BattingTeam,BowlingTeam,innings_y,Target,Runs,Balls_Left,Runs_Left,Wickets_Left
0,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,0,119,158,10
1,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,0,118,158,10
2,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,6,117,152,10
3,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,10,116,148,10
4,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,10,115,148,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,80,31,143,1
89623,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,81,30,142,1
89624,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,81,29,142,1
89625,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,82,29,141,1
89626,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,82,28,141,0

In [31]:
def result(row):
    return 1 if row['BattingTeam']==row['WinningTeam'] else 0
data['result'] = data.apply(result,axis=1)
data

,ID,Venue,Team1,Team2,WinningTeam,innings_x,BattingTeam,BowlingTeam,innings_y,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,result
0,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,0,119,158,10,1
1,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,0,118,158,10,1
2,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,6,117,152,10,1
3,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,10,116,148,10,1
4,1312199,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,2,Rajasthan Royals,Royal Challengers Bangalore,1,158,10,115,148,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89622,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,80,31,143,1,0
89623,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,81,30,142,1,0
89624,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,81,29,142,1,0
89625,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,82,29,141,1,0
89626,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,223,82,28,141,0,0

In [32]:
data.drop(['WinningTeam'],axis='columns',inplace=True)

In [33]:
data.isnull().sum()

ID              0
Venue           0
Team1           0
Team2           0
innings_x       0
BattingTeam     0
BowlingTeam     0
innings_y       0
Target          0
Runs            0
Balls_Left      0
Runs_Left       0
Wickets_Left    0
result          0
dtype: int64

In [34]:
venues = data.Venue.unique()
venues

array(['Narendra Modi Stadium, Ahmedabad', 'Wankhede Stadium, Mumbai',
       'Brabourne Stadium, Mumbai',
       'Maharashtra Cricket Association Stadium, Pune',
       'Dr DY Patil Sports Academy, Mumbai',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Zayed Cricket Stadium, Abu Dhabi', 'Arun Jaitley Stadium, Delhi',
       'MA Chidambaram Stadium, Chepauk, Chennai', 'Sheikh Zayed Stadium',
       'Rajiv Gandhi International Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'MA Chidambaram Stadium', 'Wankhede Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'M.Chinnaswamy Stadium', 'Arun Jaitley Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Maharashtra Cricket Association Stadium',
       'Holkar Cricket Stadium', 'M Chinnaswamy Stadium',
       'Feroz Shah Kotla',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Barabati Stadium', 'Himachal Pradesh Cricket Association Stadium',
       'Subrata Roy Sahara Stadium', 'Dr DY Patil Sports Academy',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'New Wanderers Stadium', 'SuperSport Park', 'Kingsmead',
       'OUTsurance Oval', "St George's Park", 'De Beers Diamond Oval',
       'Buffalo Park', 'Newlands'], dtype=object)

In [35]:
data.Venue = data.Venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
data.Venue = data.Venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association IS Bindra Stadium')
data.Venue = data.Venue.str.replace('Maharashtra Cricket Association Stadium, Pune','Subrata Roy Sahara Stadium')

/tmp/ipykernel_14564/802709579.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data.Venue = data.Venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')

In [36]:
venues = data.Venue.unique()
venues

array(['Narendra Modi Stadium, Ahmedabad', 'Wankhede Stadium, Mumbai',
       'Brabourne Stadium, Mumbai', 'Subrata Roy Sahara Stadium',
       'Dr DY Patil Sports Academy, Mumbai',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Zayed Cricket Stadium, Abu Dhabi', 'Arun Jaitley Stadium, Delhi',
       'MA Chidambaram Stadium, Chepauk, Chennai', 'Sheikh Zayed Stadium',
       'Rajiv Gandhi International Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'MA Chidambaram Stadium', 'Wankhede Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'M Chinnaswamy Stadium', 'Arun Jaitley Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Maharashtra Cricket Association Stadium',
       'Holkar Cricket Stadium', 'Feroz Shah Kotla',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Barabati Stadium', 'Himachal Pradesh Cricket Association Stadium',
       'Dr DY Patil Sports Academy',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'New Wanderers Stadium', 'SuperSport Park', 'Kingsmead',
       'OUTsurance Oval', "St George's Park", 'De Beers Diamond Oval',
       'Buffalo Park', 'Newlands'], dtype=object)

In [37]:
data.drop(['Team1','Team2', 'innings_x', 'innings_y'], axis=1, inplace =True)
data

,ID,Venue,BattingTeam,BowlingTeam,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,result
0,1312199,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Royal Challengers Bangalore,158,0,119,158,10,1
1,1312199,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Royal Challengers Bangalore,158,0,118,158,10,1
2,1312199,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Royal Challengers Bangalore,158,6,117,152,10,1
3,1312199,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Royal Challengers Bangalore,158,10,116,148,10,1
4,1312199,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Royal Challengers Bangalore,158,10,115,148,10,1
...,...,...,...,...,...,...,...,...,...,...
89622,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,223,80,31,143,1,0
89623,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,223,81,30,142,1,0
89624,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,223,81,29,142,1,0
89625,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,223,82,29,141,1,0
89626,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,223,82,28,141,0,0

In [38]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
LE=LabelEncoder()

In [40]:
data['Venue'] = LE.fit_transform(data['Venue'])
data['BattingTeam'] = le.fit_transform(data['BattingTeam'])
data['BowlingTeam'] = le.fit_transform(data['BowlingTeam'])
data

,ID,Venue,BattingTeam,BowlingTeam,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,result
0,1312199,22,5,6,158,0,119,158,10,1
1,1312199,22,5,6,158,0,118,158,10,1
2,1312199,22,5,6,158,6,117,152,10,1
3,1312199,22,5,6,158,10,116,148,10,1
4,1312199,22,5,6,158,10,115,148,10,1
...,...,...,...,...,...,...,...,...,...,...
89622,335982,17,6,3,223,80,31,143,1,0
89623,335982,17,6,3,223,81,30,142,1,0
89624,335982,17,6,3,223,81,29,142,1,0
89625,335982,17,6,3,223,82,29,141,1,0
89626,335982,17,6,3,223,82,28,141,0,0

In [41]:
LE.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41])

In [42]:
le.classes_

array(['Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad'], dtype=object)

In [44]:
x=data.Venue.unique()
x

array([22, 40,  4, 36,  8, 10, 33, 41,  1, 20, 34, 28,  9, 18, 39, 26, 17,
        0, 11, 31, 21, 14, 12, 29, 32, 15,  3, 27, 19, 30,  2, 13,  7, 38,
       23, 37, 16, 25, 35,  6,  5, 24])

In [46]:
venues

array(['Narendra Modi Stadium, Ahmedabad', 'Wankhede Stadium, Mumbai',
       'Brabourne Stadium, Mumbai', 'Subrata Roy Sahara Stadium',
       'Dr DY Patil Sports Academy, Mumbai',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Zayed Cricket Stadium, Abu Dhabi', 'Arun Jaitley Stadium, Delhi',
       'MA Chidambaram Stadium, Chepauk, Chennai', 'Sheikh Zayed Stadium',
       'Rajiv Gandhi International Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'MA Chidambaram Stadium', 'Wankhede Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'M Chinnaswamy Stadium', 'Arun Jaitley Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Maharashtra Cricket Association Stadium',
       'Holkar Cricket Stadium', 'Feroz Shah Kotla',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Barabati Stadium', 'Himachal Pradesh Cricket Association Stadium',
       'Dr DY Patil Sports Academy',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'New Wanderers Stadium', 'SuperSport Park', 'Kingsmead',
       'OUTsurance Oval', "St George's Park", 'De Beers Diamond Oval',
       'Buffalo Park', 'Newlands'], dtype=object)

In [47]:
venues1 = pd.DataFrame(x,venues,columns=['code'])
venues1

                                                    code
Narendra Modi Stadium, Ahmedabad                      22
Wankhede Stadium, Mumbai                              40
Brabourne Stadium, Mumbai                              4
Subrata Roy Sahara Stadium                            36
Dr DY Patil Sports Academy, Mumbai                     8
Dubai International Cricket Stadium                   10
Sharjah Cricket Stadium                               33
Zayed Cricket Stadium, Abu Dhabi                      41
Arun Jaitley Stadium, Delhi                            1
MA Chidambaram Stadium, Chepauk, Chennai              20
Sheikh Zayed Stadium                                  34
Rajiv Gandhi International Stadium                    28
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...     9
MA Chidambaram Stadium                                18
Wankhede Stadium                                      39
Punjab Cricket Association IS Bindra Stadium          26
M Chinnaswamy Stadium                                 17
Arun Jaitley Stadium                                   0
Eden Gardens                                          11
Sawai Mansingh Stadium                                31
Maharashtra Cricket Association Stadium               21
Holkar Cricket Stadium                                14
Feroz Shah Kotla                                      12
Rajiv Gandhi International Stadium, Uppal             29
Shaheed Veer Narayan Singh International Stadium      32
JSCA International Stadium Complex                    15
Brabourne Stadium                                      3
Punjab Cricket Association Stadium, Mohali            27
MA Chidambaram Stadium, Chepauk                       19
Sardar Patel Stadium, Motera                          30
Barabati Stadium                                       2
Himachal Pradesh Cricket Association Stadium          13
Dr DY Patil Sports Academy                             7
Vidarbha Cricket Association Stadium, Jamtha          38
New Wanderers Stadium                                 23
SuperSport Park                                       37
Kingsmead                                             16
OUTsurance Oval                                       25
St George's Park                                      35
De Beers Diamond Oval                                  6
Buffalo Park                                           5
Newlands                                              24

In [48]:
y=data.BattingTeam.unique()
y

array([5, 4, 7, 1, 0, 3, 6, 2])

In [49]:
batting_code = pd.DataFrame(y,batting1,columns=['code'])
batting_code

                             code
Rajasthan Royals                5
Mumbai Indians                  4
Royal Challengers Bangalore     7
Kolkata Knight Riders           1
Sunrisers Hyderabad             0
Delhi Capitals                  3
Chennai Super Kings             6
Kings XI Punjab                 2

In [50]:
z=data.BowlingTeam.unique()
z

array([6, 1, 0, 7, 3, 5, 4, 2])

In [51]:
bowling_code = pd.DataFrame(z,bowling1,columns=['code'])
bowling_code

                             code
Royal Challengers Bangalore     6
Delhi Capitals                  1
Chennai Super Kings             0
Sunrisers Hyderabad             7
Kolkata Knight Riders           3
Rajasthan Royals                5
Mumbai Indians                  4
Kings XI Punjab                 2

In [52]:
X=data[['BattingTeam', 'BowlingTeam', 'Venue', 'Runs_Left', 'Balls_Left', 'Wickets_Left']]

In [53]:
y=data['result']

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=10)

In [55]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [56]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [57]:
model.score(X_train,y_train)

0.9993305532698289

In [58]:
model.score(X_test, y_test)

0.9846591543010152

In [ ]:
model.predict.proba([[]])